body, td, input { font-family: 'Roboto Condensed', sans-serif; font-size: 16pt; }

.text-xxl { font-size: 62pt; }
.text-xl { font-size: 40pt; }
.text-l { font-size: 26pt; }
.text-shadow { text-shadow: 2px 2px 4px #000; }
.box-shadow { box-shadow: 2px 2px 10px rgba(0,0,0,0.5); }
.btn-xl { padding: 14px 50px; font-size: 24px; line-height: 1.3333333; border-radius: 30px; box-shadow: 1px 1px 1px rgba(0,0,0,0.5), -1px -1px 1px rgba(255,255,255,0.5); }
.btn-purple { color: #fff; background-color: #8824cd; border-color: #8824cd; }
a.btn-purple:hover { color: #bbb; }
.btn-black { color: #fff; background-color: #000; border-color: #444; }
a.btn-black:hover { color: #bbb; }

.body {
    color: #fff;
    background:
            linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
            linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color: #708090;
    background-size: 64px 128px;
}
.main-container { max-width: 1600px; position: relative; margin: 0 auto; box-shadow: 0 0 10px rgba(0,0,0,0.5); background: #fff; }

nav { background: #344255 linear-gradient(to top, #344255, #354356); }
nav .logo img { float: left; margin: 20px 0 20px 15px; }
nav .logo div { float: left; margin: 20px 0 0 0; width: 240px; text-align: right; font-size: 17pt; line-height: 1; }
nav .logo a { color: #fff; }
nav .logo a:hover { text-decoration: none; }
nav .menu ul { display: inline-block; list-style: none; margin: 15px 0 0 0; padding-left: 2%; }
nav .menu ul li { display: inline-block; width: 150px; font-size: 11pt; text-align: center; line-height: 1.1; }
nav .menu ul a { display: inline-block; padding: 20px 20px 20px 20px; vertical-align: middle; color: #fff; border-bottom: 2px solid #344255; }
nav .menu ul a:hover, nav  .menu ul a.active { text-decoration: none; color:#fff; border-bottom: 2px solid #fff; }
nav .search { margin: 35px 0 20px 0; }
.navbar-default { border: none; border-radius: 0; margin: 0; }

#our-mission { background: #536577 url('../img/section-street.jpg') center center no-repeat; min-height:653px; }
#our-mission .text-xxl { margin: 60px 200px 0 100px; }
#our-mission a { margin: 150px 0 0 20%; }

#about-us { background: #2e3b4e url('../img/section-buildings.png') center bottom no-repeat; padding: 0 0 80px 0; }
#about-us h1 { margin: 50px 0; text-align: center; }

#we-know-truth { background: #ffd772 url('../img/section-field.jpg') center center no-repeat; min-height: 532px; color: #000; }
#we-know-truth .text-xl { text-align: center; margin: 50px 180px 50px 180px; line-height: 1; font-weight: 300; }
#we-know-truth .text-l { text-align: center; margin: 50px 180px 100px 180px; line-height: 1; font-weight: 300; }

#satisfaction { background: #fff; padding: 0 0 80px 0; color: #000; }
#satisfaction .text-xl { margin: 50px 0; text-align: center; font-weight: 300; }

#advices { background: #344255 linear-gradient(to top, #fff 1%, #fff 50%,#eee 100%); min-height: 556px; color: #000; }
#advices .text-xl { text-align: center; margin: 80px 25% 80px 25%; line-height: 1; font-weight: 300; }
#advices .text-l { text-align: center; margin: 50px 30% 70px 30%; line-height: 1; font-weight: 300; }
#advices .sketch-left { float: left; margin: 150px 0 0 0; }
#advices .sketch-right { float: right; margin: 150px 0 0 0; }
#advices .content-text { top: -520px; position: relative; margin-bottom: -556px; }

#money { background: #2e3b4e url('../img/section-money.jpg') center center no-repeat; padding: 0 0 80px 0; min-height: 550px; }
#money .text-xl { text-align: center; margin: 100px 25% 50px 25%; line-height: 1; font-weight: 300; }
#money .text-l { text-align: center; margin: 50px 0 100px 0; line-height: 1; font-weight: 300; }

#unity { background: #fff; padding: 0 0 80px 0; color: #000; }
#unity .text-xl { margin: 100px 10% 60px 10%; line-height: 1; text-align: center; font-weight: 300; }

#partners { background: #c2eaf6 url('../img/section-partners.jpg') center center no-repeat; min-height: 670px; color: #000; }
#partners .text-xl { text-align: center; margin: 50px 25% 100px 25%; line-height: 1; font-weight: 300; }
#partners .partners-list div { margin: 0 0 50px 0; }
#partners .partners-list div img { margin: 0 auto; }

#recalls { background: #dfdfdf linear-gradient(to top, #fff, #dfdfdf); color: #000; padding: 0 0 80px 0; }
#recalls .text-xl { text-align: center; margin: 50px 25% 80px 25%; line-height: 1; font-weight: 300; }
#recalls .text-l { text-align: center; margin: 50px 30% 80px 30%; line-height: 1; font-weight: 300; }
#recalls img { max-width: 200px; }
#recalls .row { margin: 0 0 70px 0; }
#recalls blockquote { margin: 50px 0 0 0; }

#contacts { background: #2e3b4e; padding: 0 0 80px 0; }
#contacts .text-xl { margin: 50px 0; text-align: center; font-weight: 300; }
#contacts .text-l { margin: 0 0 20px 0; font-weight: 300; }
#contacts .contacts-phone { padding-left: 80px; background: url('../img/icon-phone.png') left center no-repeat; line-height: 56px; margin: 20px 0; }
#contacts .contacts-email { padding-left: 80px; background: url('../img/icon-mail.png') left center no-repeat; line-height: 56px; margin: 20px 0; }
#contacts .contacts-address { margin: 10px 0; }

#map { background: #f7f1d9 url('../img/section-map.jpg') center center no-repeat; min-height: 833px; }

#land-department { background: #ffd772 url('../img/land-department.jpg') center center no-repeat; min-height: 594px; color: #fff; }
#land-department .text-xxl { text-align: center; margin: 100px 0 50px 0; line-height: 1; font-weight: 300; }
#land-department .text-l { text-align: center; margin: 150px 0 80px 0; line-height: 1; font-weight: 300; }
#land-department .more { text-align: center; margin: 80px 0 0 0; }
#land-department .more img { transition: all .2s ease-in-out; }
#land-department .more img:hover { transform: scale(1.2); }


#appointment { min-height: 670px; color: #fff; }
#appointment .text-xl { text-align: center; margin: 30px 0 50px 0; line-height: 1; font-weight: 300; }

.appointment-land-department { background: #3e4f6b url('../img/appointment-land-department.jpg') center center no-repeat; }
.appointment-building-department { background: #3e4f6b url('../img/appointment-building-department.jpg') center center no-repeat; }
.appointment-investing-department { background: #3e4f6b url('../img/appointment-investing-department.jpg') center center no-repeat; }

#cottage-or-land { background: #ffd772 url('../img/cottage-or-land.jpg') center center no-repeat; min-height: 863px; color: #fff; }
#cottage-or-land .img-responsive { margin: 0 auto; }
#cottage-or-land .text-xl { text-align: center; margin: 60px 0 50px 0; line-height: 1; font-weight: 300; }
#cottage-or-land .text-l { font-size: 20pt; text-align: center; margin: 60px 0 40px 0; line-height: 1; font-weight: 300; }
#cottage-or-land .text-or { margin: 300px 0 20px 0; }

#steps { background: #344255 linear-gradient(to top, #fff 1%, #ddd 100%/*, #ddd 100%*/); color: #000; }
#steps .step{ margin-bottom: 60px; }
#steps .img { display: inline-block; padding: 30px; background: #45505f; border: 5px solid #1b2431; border-radius: 50%; }
#steps .img-responsive { margin: 0 auto; }
#steps .arrow { display: inline-block; }
#steps .arrows { top: -280px; position: relative; }
#steps .text-xl { text-align: center; margin: 60px 10% 100px 10%; line-height: 1; font-weight: 300; }
#steps .text-l { font-size: 20pt; text-align: center; margin: 30px 0 0 0; line-height: 1; font-weight: 300; }

#building-department { background: #ffd772 url('../img/building-department.jpg') center center no-repeat; min-height: 645px; color: #fff; }
#building-department .text-xxl { text-align: center; margin: 100px 0 50px 0; line-height: 1; font-weight: 300; }
#building-department .text-l { text-align: center; margin: 150px 0 80px 0; line-height: 1; font-weight: 300; }
#building-department .more { text-align: center; margin: 80px 0 0 0; }
#building-department .more img { transition: all .2s ease-in-out; }
#building-department .more img:hover { transform: scale(1.2); }

#materials { background: #953b39 url('../img/materials.jpg') center center no-repeat; min-height: 919px; color: #fff; }
#materials .text-xl { text-align: center; margin: 80px 0 50px 0; line-height: 1; font-weight: 300; }
#materials .text-l { text-align: center; margin: 80px 0 80px 0; line-height: 1; font-weight: 300; }
#materials p { margin: 80px 0; font-size: 20pt; line-height: 1; font-weight: 300; }
#materials .button { margin: 60px 0; }

#investing-department { background: #ffd772 url('../img/investing-department.jpg') center center no-repeat; min-height: 643px; color: #fff; }
#investing-department .text-xxl { text-align: center; margin: 100px 20% 50px 20%; line-height: 1; font-weight: 300; }
#investing-department .text-l { text-align: center; margin: 100px 0 80px 0; line-height: 1; font-weight: 300; }
#investing-department .more { text-align: center; margin: 80px 0 0 0; }
#investing-department .more img { transition: all .2s ease-in-out; }
#investing-department .more img:hover { transform: scale(1.2); }

#investing { background: #953b39 url('../img/investing.jpg') center center no-repeat; min-height: 974px; color: #fff; }
#investing .text-xl { text-align: center; margin: 80px 0 50px 0; line-height: 1; font-weight: 300; }
#investing .text-l { text-align: center; margin: 80px 0 80px 0; line-height: 1; font-weight: 300; }
#investing p { margin: 80px 0; font-size: 20pt; line-height: 1; font-weight: 300; }
#investing .button { margin: 60px 0; }



/* -------------------- Responsive classes ------------------- */

/* Extra small devices - less than 480 */
@media (max-width: 767px) {
    .text-xxl { font-size: 30pt; }
    .text-xl { font-size: 30pt; }
    .text-l { font-size: 20pt; }

    #our-mission { min-height:353px; }
    #our-mission .text-xxl { margin: 30px 10px 0 10px; }
    #our-mission a { margin: 50px 0 0 20%; }

    #we-know-truth { min-height: 350px; }
    #we-know-truth .text-xl { margin: 20px 20px 30px 20px; }
    #we-know-truth .text-l { margin: 20px 10px 40px 10px; }

    #advices { min-height: 400px; }
    #advices .sketch-left { display: none; }
    #advices .sketch-right { display: none; }
    #advices .text-xl { margin: 30px 20px 30px 20px; }
    #advices .text-l { margin: 30px 20px 30px 20px; }
    #advices .content-text { top: auto; position: relative; margin-bottom: auto; }

    #money { min-height: 300px; }
    #money .text-xl { text-align: center; margin: 30px 20px 30px 20px; }
    #money .text-l { text-align: center; margin: 30px 0 30px 0; }

    #unity .text-xl { margin: 30px 20px 30px 20px; }

    #partners { background: #c2eaf6; }
    #partners .text-xl { text-align: center; margin: 50px 25% 100px 25%; line-height: 1; font-weight: 300; }
    #partners .partners-list div { margin: 0 0 50px 0; }
    #partners .partners-list div img { margin: 0 auto; }

    #cottage-or-land { background: #424f62; }
    #cottage-or-land .text-xl { margin: 30px 20px 30px 20px; }
    #cottage-or-land .text-or { margin: 60px 0 20px 0; }

    #materials { min-height: auto; }
    #materials .text-xl { margin: 60px 0 50px 0; }
    #materials .text-l { margin: 50px 0 50px 0; }
    #materials p { margin: 50px 20px; font-size: 18pt; }
    #materials .button { margin: 30px 0; }

    #investing { min-height: auto; }
    #investing .text-xl { margin: 60px 0 50px 0; }
    #investing .text-l { margin: 50px 0 50px 0; }
    #investing p { margin: 50px 20px; font-size: 18pt; }
    #investing .button { margin: 30px 0; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .text-xxl { font-size: 50pt; }
    .text-xl { font-size: 30pt; }
    .text-l { font-size: 20pt; }

    #our-mission .text-xxl { margin: 60px 50px 0 50px; }

    #advices .sketch-left { float: left; margin: 150px 0 0 0; width: 30%; }
    #advices .sketch-right { float: right; margin: 150px 0 0 0; width: 30%; }
    #advices .content-text { top: -320px; position: relative; margin-bottom: -320px; }

    #partners .text-xl { margin: 20px 25% 40px 25%; }
    #partners .partners-list div { margin: 0 0 40px 0; }

    #recalls img { max-width: 150px; }
    #recalls blockquote { margin: 10px 0 0 0; }

    #steps .img { margin: 50px; }
    #steps .arrows { top: -300px; position: relative; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .text-xxl { font-size: 55pt; }
    .text-xl { font-size: 34pt; }
    .text-l { font-size: 22pt; }

    #advices .sketch-left { float: left; margin: 150px 0 0 0; width: 30%; }
    #advices .sketch-right { float: right; margin: 150px 0 0 0; width: 35%; }
    #advices .content-text { top: -420px; position: relative; margin-bottom: -420px; }

    #steps .arrows { top: -300px; position: relative; }
}